#usernameSearch  {
    margin: 30px;
    height: 20px;
    justify-content: center;
    display: flex;
    margin-top:2%;
}

#error  {
    height: 20px;
    justify-content: center;
    display: flex;
}

#contentContainer  {
    justify-content: center;
    width: 80%;
    height: 100%;
    display: flex;
    margin: auto;
}

#userProfileDiv  {
    margin-right: 2%;
}

#userRepoDiv  {
    margin-left: 2%;
}

#userProfileDiv, #userRepoDiv  {
    width: 45%;
    border: 2px;
}

#userProfileContent, #userRepoContent  {
    border: 1px solid;
    height: 950px;
}

hr {
    color: black;
}

img {
    display: block;
    height: 40%;
}

input[type="search"]  {
    margin-right: 1%;
}

input[type="submit"]  {
    margin-left: 1%;
    border-radius: 15%;
    border-color: buttonborder;
    border-width: 1px;
}

h3, p {
    padding-left: 5px; /* buffer from side margin*/
}

#avatarPictureDiv {
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 1;
    height: 40%;
}