.grid {
    display: flex; 
    flex-wrap: wrap;
}

.col-1, .col-3 {
    background-color: blue;
}

[class*="col"] {
    flex-grow: 0.25;
    border: 1px solid;
    height: 50px;
    text-align: center;
}

@media screen and (max-width: 720px) and (min-width: 361px)  {
    [class*="col"] {
        width: 49%;
    }
  }

@media screen and (max-width: 360px) {
    [class*="col"] {
        width: 100%;
    }
}