body{
    font-size: 30px;
    text-align: center;
}
.countdownDiv {
    display: flex;
    justify-content: center;
    width: auto;
    align-items: center;
    margin-top: 2%;
}
.box, #countdownHeader  {
    display: inline;
}
.submitDiv {
    margin-top: 4%;
}
input[type=submit] {
    margin-bottom: 2%;
    padding: 20px 8%;
    background-color: #008CBA;
    color: white;
    border-style: none;
    border-radius: 10px;
    text-align: center;
}
input[type=text] {
    margin-top: 5%;
    min-height: 80px;
    border-style: none;
    border-radius: 10px;
    font-size: 35px;
}
form {
    background-color: #DEDEDEDE;
    padding: 1%;
}
