body{
    font-size: 30px;
    text-align: center;
}
.countdownDiv {
    display: flex;
    justify-content: center;
    width: auto;
    align-items: center;
    margin-top: 2%;
}
.box, #countdownHeader  {
    display: inline;
}
.submitDiv {
    margin-top: 4%;
}

/* Form */
form {
    background-color: #DEDEDEDE;
    padding: 1%;
}
input[type=text] {
    margin-top: 5%;
    min-height: 80px;
    border-style: none;
    border-radius: 10px;
    font-size: 35px;
}
/* disabled inputs go darker */
input[type=text]:disabled {
    background-color: white;
}
/* Buttons */
#stopButton {
    background-color: red;
}
#clearButton {
    background-color: rgb(209, 209, 75);
}
#stopButton, #clearButton {
    display: none;
}
#submitCountdown {    
    background-color: #008CBA;
}
#submitCountdown, #stopButton, #clearButton {
    margin-bottom: 2%;
    padding: 20px 8%;
    color: white;
    border-style: none;
    border-radius: 10px;
    text-align: center;
}
#error {
    color:red
}
