.container {
    display: grid;
    place-items: center;
}

input {
    margin-top:0.75em;
    margin-bottom: 0.75em;
}

table {
    border-collapse: collapse;
    width: 100%;
    display: table;
    text-align: left;
}

table th {
    background-color: rgb(48, 122, 156);
}

table tr:nth-child(odd) {
    background-color:  #f2f2f2;
}

table th td  {
    padding: 8px;
    border: 1px solid rgb(211, 196, 196);
}

#formDiv {
    background-color: rgb(48, 122, 156);
    border-radius: 30px;
    width: 50%;
    display:grid;
    place-items: center center;
    height: 150%;
}

#error {
    color: rgb(221, 19, 19);
    text-align: center;
}

input[type=submit]  {
    border-radius: 10px;
    background-color: white;
}

#contactsContent {
    width: 50%;
    text-align: center;
}
